.UserOutput{
    width: 60%;
    margin: 16px auto;
    border: 1px solid rgb(93, 173, 56);
    box-shadow: 0 2px 3px rgb(116, 245, 11);
    background-color: darkcyan;
    padding: 6px;
    text-align: center;
}