.App {
  text-align: center;
}

.modalDiv{
  text-align: center;
  width: 80%;
  height: 60%;
}

.modal-dialog{
  width: 80%;
  max-width: 100%;
}

.alert-success{
  text-align: center;
  align-self: center;
  margin: 0 auto;
  max-width: 80%;
}

.badge{
  margin-right: 5px;
  min-width: 20px;
  margin-bottom: 10px;
}

.modalFooter{
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.yesNoButtons{ 
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.btn-group-justified{
  justify-content: center
}
